**/**/.*
**/build/**
**/coverage/
**/dist/**
**/fuel-v2-contracts
**/generated/**
**/node_modules/**
**/public/storybook/**
**/public/ui/**
**/storybook-static
**/storybook-static/**
**/storybook/**
*.typegen.ts
.next/*
.turbo
CHANGELOG.md
build
dist
generated
helm
node_modules
packages/app-portal/public/**
packages/app-portal/src/types
pnpm-lock.yaml
scripts/bridge/fuel-bridge
