.changeset
**/node_modules/
**/coverage/
dist
**/dist/**
build
**/build/**
CHANGELOG.md
*.typegen.ts
*.html
.next/*
generated
**/generated/**
storybook
**/storybook/**
storybook-static
**/storybook-static/**
.turbo
pnpm-lock.yaml
.next
graphql.schema.json
deployment
