:root {
  --single-notch-polygon: var(--fuel-chamfer-polygon);
}

@media all {
  .rt-Card:where(.rt-r-size-1) {
    --card-padding: var(--space-0);
    --card-border-radius: 0px;
  }
  .rt-Card:where(.rt-r-size-2) {
    --card-padding: var(--space-0);
    --card-border-radius: 0px;
  }
  .rt-Card:where(.rt-r-size-3) {
    --card-padding: var(--space-0);
    --card-border-radius: 0px;
  }
  .rt-Card:where(.rt-r-size-4) {
    --card-padding: var(--space-0);
    --card-border-radius: 0px;
  }
}

.border-single-clip-polygon {
  clip-path: var(--single-notch-polygon);
}
.filter-single-clip-polygon {
  filter: drop-shadow(1px 0 0 var(--gray-6)) drop-shadow(-1px 0 0 var(--gray-6))
    drop-shadow(0 1px 0 var(--gray-6)) drop-shadow(0 -1px 0 var(--gray-6));
}

.rt-BaseCard {
  box-shadow: none;
}

.rt-BaseCard::after {
  box-shadow: inset 0 0 0 1px var(--fuel-border);
}
