.fuel-AnimatedDialogOverlay {
  background-color: rgb(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: end center;
  overflow-y: auto;
}

.fuel-AnimatedDialogContent {
  overflow: clip;
  margin-bottom: 0;
  width: 100%;
  background-color: var(--fuel-background);
  border: 1px solid var(--fuel-line);
  box-shadow: none;
}

.fuel-AnimatedDialogContent:focus {
  outline: 0;
}

/**
 * Breakpoints reference:
 * https://www.radix-ui.com/themes/docs/theme/breakpoints
 *
 * Size: initial
 * Description: Phones (portrait)
 */
@media all {
  .fuel-AnimatedDialogContent {
    padding: var(--space-5);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

/**
 * Size: md
 * Description: Tablets (landscape)
 */
@media (min-width: 1024px) {
  .fuel-AnimatedDialogOverlay {
    place-items: center;
    padding-top: var(--space-6);
    padding-bottom: var(--space-6);
  }

  .fuel-AnimatedDialogContent {
    padding: var(--space-8);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 544px;
  }
}
