@layer fuel-components {
  .fuel-NavLogo {
    @apply items-center justify-start;
  }
  .fuel-NavMenu {
    @apply flex gap-1 flex-col py-3 px-4;
    @apply lg:px-0 lg:gap-4 lg:flex-row;

    & ~ & {
      @apply border-t border-border;
      @apply lg:border-t-0;
    }
  }
  .fuel-NavMenuItem {
    @media screen(lg) {
      @apply relative h-auto text-color;

      &[data-active='true'],
      &:hover {
        @apply text-brand;
      }

      &[data-active='true']::before {
        @apply absolute block w-full h-1 bg-brand;
        top: -24px;
        content: '';
      }
    }
  }
  .fuel-NavSpacer {
    @apply flex-1;
    @media screen(lg) {
      @apply border-0;
    }
  }
  .fuel-NavConnection {
    @apply items-center;
  }
  .fuel-NavNetwork {
    @apply h-8;
  }
  .fuel-NavThemeToggle {
    @apply relative cursor-pointer flex items-center px-2 w-8 h-6 rounded-full border-border;
    @apply bg-gray-3 select-none;

    & .fuel-Icon {
      @apply absolute opacity-100;
      transition: all 0.2s ease;
    }
    & [aria-label='Sun'] {
      @apply right-2 text-icon;
    }
    & [aria-label='Moon'] {
      @apply left-2 text-icon;
    }

    .dark & [aria-label*='Sun'],
    .dark-theme & [aria-label*='Sun'] {
      @apply transform -translate-x-full opacity-0;
    }
    .light & [aria-label*='Moon'],
    .light-theme & [aria-label*='Moon'] {
      @apply transform translate-x-full opacity-0;
    }
  }
  .fuel-NavDesktop {
    --nav-height: 70px;
    @apply gap-8 container mx-auto flex-row items-center;
    @apply lg:px-4 lg:flex;
    min-height: var(--nav-height);
  }
  .fuel-NavMobile {
    --nav-height: 60px;
    @apply flex-col border-b border-border;
    @apply lg:hidden;

    & .fuel-NavLogo {
      @apply flex-1;
    }
  }
  .fuel-NavWrapper {
    @apply border-b border-border;
    min-height: var(--nav-height);
  }
  .fuel-NavMobileContent {
    @apply flex items-center py-2 px-4 border-b border-transparent;
    @apply transition-colors duration-200 ease-in-out;
    min-height: var(--nav-height);

    &[data-open='true'] {
      @apply border-border;
    }
    .fuel-NavLogo {
      @apply flex-1;
    }
  }
}
