version: "3.4"

services:
  l1_chain:
    image: ghcr.io/fuellabs/fuel-bridge:6eebf19
    platform: linux/amd64
    env_file:
      - ./envs/l1_chain.env
    ports:
      # expose the service to the host for integration testing
      - 8545:9545
      - ${DEPLOYMENTS_PORT:-8080}:8081

  fuel_core:
    depends_on:
      - l1_chain
      - fuel-explorer-pgsql
    image: fueldev/fuelcore:${DOCKER_TAG_FUEL_CORE:-latest}
    platform: linux/amd64
    build:
      context: ./fuel-core/
    env_file:
      - ./envs/fuel_core.env
    environment:
      L1_CHAIN_HTTP: http://l1_chain:9545/
      DEPLOYMENTS_HTTP: http://l1_chain:8081/deployments.local.json
      RUST_LOG: debug
      DEBUG: true
    ports:
      # expose the service to the host for integration testing
      - ${FUEL_CORE_HTTP_PORT:-4000}:4001
    healthcheck:
      test: curl --fail http://localhost:4001/v1/health || exit 1
      interval: 10s
      timeout: 10s
      retries: 100

  fuel_block_commiter:
    depends_on:
      fuel_core:
        condition: service_healthy
      l1_chain:
        condition: service_started
    image: fueldev/block-committer:${DOCKER_TAG_FUEL_CORE:-latest}
    platform: linux/amd64
    build:
      context: ./block-committer/
    env_file:
      - ./envs/block_committer.env
    environment:
      ETHEREUM_RPC: ws://l1_chain:9545/
      FUEL_GRAPHQL_ENDPOINT: http://fuel_core:4001/v1
      DEPLOYMENTS_HTTP: http://l1_chain:8081/deployments.local.json
    ports:
      # expose the service to the host for integration testing
      - ${COMMITTER_HTTP_PORT:-8888}:8888

  erc20_deployer:
    depends_on:
      fuel_core:
        condition: service_healthy
      l1_chain:
        condition: service_started
    platform: linux/amd64
    build:
      context: ./erc20-deployer/
    environment:
      L1_CHAIN_HTTP: http://l1_chain:9545
      FUEL_GRAPHQL_ENDPOINT: http://fuel_core:4001/v1/graphql
      DEPLOYMENTS_HTTP: http://l1_chain:8081
      PK_ETH_WALLET: 59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
    ports:
      # expose the service to the host for integration testing
      - ${ERC20_HTTP_PORT:-8082}:9090

  fuel-explorer-pgsql:
    image: postgres:latest
    platform: linux/amd64
    container_name: fuel-explorer-pgsql
    ports:
      - "5435:5432"
    volumes:
      - fuel-explorer-pgsql-db:/usr/local/postgres
    environment:
      - POSTGRES_PASSWORD=postgres
      - PGUSER=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-U", "postgres", "-d", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  fuel-explorer-pgsql-db:
