@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";
@import "../components/Spinner/Spinner.css";
@import "./theme.css";
@tailwind components;
@tailwind utilities;

:root,
.radix-themes {
  --default-font-size: var(--font-size-3);
  --default-font-family: var(--font-geist-sans);
}

:root {

  /* @TODO: Define if we'll continue using semantic vars for colors, or if we'll refer directly to specific color tokens */
  --color-brand: var(--green-11);


  --screen-mobile: 300px;
  --screen-tablet: 640px;
  --screen-laptop: 960px;
  --screen-desktop: 1280px;

  --space-0: 0px;
  --space-1: calc(4px * var(--scaling));
  --space-2: calc(8px * var(--scaling));
  --space-3: calc(12px * var(--scaling));
  --space-4: calc(16px * var(--scaling));
  --space-5: calc(20px * var(--scaling));
  --space-6: calc(24px * var(--scaling));
  --space-7: calc(28px * var(--scaling));
  --space-8: calc(32px * var(--scaling));
  --space-9: calc(36px * var(--scaling));
  --space-10: calc(40px * var(--scaling));
  --space-11: calc(44px * var(--scaling));
  --space-12: calc(48px * var(--scaling));
  --space-14: calc(56px * var(--scaling));
  --space-16: calc(64px * var(--scaling));
  --space-20: calc(80px * var(--scaling));
  --space-24: calc(96px * var(--scaling));
  --space-28: calc(112px * var(--scaling));
  --space-32: calc(128px * var(--scaling));
  --space-36: calc(144px * var(--scaling));
  --space-40: calc(160px * var(--scaling));
  --space-44: calc(176px * var(--scaling));
  --space-48: calc(192px * var(--scaling));
  --space-52: calc(208px * var(--scaling));
  --space-56: calc(224px * var(--scaling));
  --space-60: calc(240px * var(--scaling));
  --space-64: calc(256px * var(--scaling));
  --space-72: calc(288px * var(--scaling));
  --space-80: calc(320px * var(--scaling));
  --space-96: calc(384px * var(--scaling));
}