/* Background */

:root .dark,
:root .dark-theme,
:root:is(.dark, .dark-theme) {
  /* Red */
  --red-1: #170f0f;
  --red-2: #201313;
  --red-3: #3b1217;
  --red-4: #500e1a;
  --red-5: #611623;
  --red-6: #72232f;
  --red-7: #8c333f;
  --red-8: #b54453;
  --red-9: #d65767;
  --red-10: #c3505e;
  --red-11: #ff8c98;
  --red-12: #ffd1d3;

  --red-a1: #ec000007;
  --red-a2: #f22f2f11;
  --red-a3: #ff17332d;
  --red-a4: #fe063344;
  --red-a5: #ff204756;
  --red-a6: #ff3e5b68;
  --red-a7: #ff536a84;
  --red-a8: #ff5b71b0;
  --red-a9: #fe6578d4;
  --red-a10: #ff6678bf;
  --red-a11: #ff8c98;
  --red-a12: #ffd1d3;

  --red-contrast: #fff;
  --red-surface: #2f151580;
  --red-indicator: #d65767;
  --red-track: #d65767;

  /* Violet */
  --violet-1: #110f1c;
  --violet-2: #181525;
  --violet-3: #271f44;
  --violet-4: #32255b;
  --violet-5: #3c2e69;
  --violet-6: #463877;
  --violet-7: #55468c;
  --violet-8: #6a57ac;
  --violet-9: #725bbd;
  --violet-10: #6451a5;
  --violet-11: #b8a6ff;
  --violet-12: #e1ddfe;

  --violet-a1: #1200fb0c;
  --violet-a2: #623ff916;
  --violet-a3: #7752fe37;
  --violet-a4: #7a51fd50;
  --violet-a5: #845ffd5f;
  --violet-a6: #8c6bfd6e;
  --violet-a7: #9578ff84;
  --violet-a8: #997cfea7;
  --violet-a9: #9677feb9;
  --violet-a10: #9778ff9f;
  --violet-a11: #b8a6ff;
  --violet-a12: #e2defffe;

  --violet-contrast: #fff;
  --violet-surface: #1f193980;
  --violet-indicator: #725bbd;
  --violet-track: #725bbd;

  /* Yellow */
  --yellow-1: #14100c;
  --yellow-2: #1d1710;
  --yellow-3: #2f200d;
  --yellow-4: #402700;
  --yellow-5: #4d3000;
  --yellow-6: #5b3e14;
  --yellow-7: #6f4f24;
  --yellow-8: #8c6530;
  --yellow-9: #f6c07a;
  --yellow-10: #ebb670;
  --yellow-11: #fec781;
  --yellow-12: #ffe4bd;

  --yellow-a1: #d1000004;
  --yellow-a2: #fd87000d;
  --yellow-a3: #f9850021;
  --yellow-a4: #fc7f0033;
  --yellow-a5: #fd8b0041;
  --yellow-a6: #fda01b50;
  --yellow-a7: #ffae4165;
  --yellow-a8: #ffb44d84;
  --yellow-a9: #fec67df6;
  --yellow-a10: #ffc579ea;
  --yellow-a11: #ffc882fe;
  --yellow-a12: #ffe4bd;

  --yellow-contrast: #2d1e0a;
  --yellow-surface: #291d1080;
  --yellow-indicator: #f6c07a;
  --yellow-track: #f6c07a;

  /* Orange */
  --orange-1: #15100c;
  --orange-2: #1e1610;
  --orange-3: #331d0e;
  --orange-4: #481f00;
  --orange-5: #562800;
  --orange-6: #653611;
  --orange-7: #7c471f;
  --orange-8: #a05b27;
  --orange-9: #d6844a;
  --orange-10: #c9783e;
  --orange-11: #fca76c;
  --orange-12: #ffdec7;

  --orange-a1: #de000005;
  --orange-a2: #fe6d000e;
  --orange-a3: #fb630025;
  --orange-a4: #ff4e003b;
  --orange-a5: #ff61004a;
  --orange-a6: #ff7a125a;
  --orange-a7: #ff893173;
  --orange-a8: #fe8b359a;
  --orange-a9: #fe9b56d4;
  --orange-a10: #fe964bc6;
  --orange-a11: #ffa96dfc;
  --orange-a12: #ffdec7;

  --orange-contrast: #fff;
  --orange-surface: #2b1b1080;
  --orange-indicator: #d6844a;
  --orange-track: #d6844a;

  /* Blue */
  --blue-1: #08121c;
  --blue-2: #0e1925;
  --blue-3: #092846;
  --blue-4: #003261;
  --blue-5: #003f73;
  --blue-6: #0f4e85;
  --blue-7: #1c5e9c;
  --blue-8: #2272bb;
  --blue-9: #3795ef;
  --blue-10: #2889e1;
  --blue-11: #70b9ff;
  --blue-12: #c9e4ff;

  --blue-a1: #0027fb0c;
  --blue-a2: #006ef916;
  --blue-a3: #0078ff39;
  --blue-a4: #0073ff56;
  --blue-a5: #0081ff69;
  --blue-a6: #0d8dfd7d;
  --blue-a7: #2495ff95;
  --blue-a8: #2998feb7;
  --blue-a9: #3a9fffee;
  --blue-a10: #2c9affdf;
  --blue-a11: #70b9ff;
  --blue-a12: #c9e4ff;

  --blue-contrast: #fff;
  --blue-surface: #0c213980;
  --blue-indicator: #3795ef;
  --blue-track: #3795ef;

  /* Gray */
  --gray-1: #111;
  --gray-2: #191919;
  --gray-3: #222;
  --gray-4: #2a2a2a;
  --gray-5: #313131;
  --gray-6: #3a3a3a;
  --gray-7: #484848;
  --gray-8: #606060;
  --gray-9: #6e6e6e;
  --gray-10: #7b7b7b;
  --gray-11: #b4b4b4;
  --gray-12: #eee;

  --gray-a1: #00000000;
  --gray-a2: #ffffff09;
  --gray-a3: #ffffff12;
  --gray-a4: #ffffff1b;
  --gray-a5: #ffffff22;
  --gray-a6: #ffffff2c;
  --gray-a7: #ffffff3b;
  --gray-a8: #ffffff55;
  --gray-a9: #ffffff64;
  --gray-a10: #ffffff72;
  --gray-a11: #ffffffaf;
  --gray-a12: #ffffffed;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6e6e6e;
  --gray-track: #6e6e6e;

  /* Green */
  --green-1: #000;
  --green-2: #0a150e;
  --green-3: #0c2a18;
  --green-4: #043b1e;
  --green-5: #084a28;
  --green-6: #105932;
  --green-7: #156b3d;
  --green-8: #147f48;
  --green-9: #0a4b29;
  --green-10: #175e37;
  --green-11: #71cf93;
  --green-12: #a6f5c0;

  --green-a1: #00000000;
  --green-a2: #7affaa15;
  --green-a3: #49ff922a;
  --green-a4: #12ff823b;
  --green-a5: #1cff8a4a;
  --green-a6: #2eff9059;
  --green-a7: #33ff926b;
  --green-a8: #29ff917f;
  --green-a9: #22ff8c4b;
  --green-a10: #3fff965e;
  --green-a11: #8bffb5cf;
  --green-a12: #adffc8f5;

  --green-contrast: #fff;
  --green-surface: #142a1c80;
  --green-indicator: #0a4b29;
  --green-track: #0a4b29;
}

:root .light,
:root .light-theme,
:root:is(.light, .light-theme) {

  /* Red */
  --red-1: #fffcfc;
  --red-2: #fff7f8;
  --red-3: #feebeb;
  --red-4: #ffdcdd;
  --red-5: #ffcecf;
  --red-6: #fabfc0;
  --red-7: #f1abad;
  --red-8: #dd9799;
  --red-9: #b67375;
  --red-10: #a8666a;
  --red-11: #9f5e61;
  --red-12: #5c2228;

  --red-a1: #ff000003;
  --red-a2: #ff002008;
  --red-a3: #f3000014;
  --red-a4: #ff000823;
  --red-a5: #ff000631;
  --red-a6: #ec000440;
  --red-a7: #d5000754;
  --red-a8: #ac000568;
  --red-a9: #7a00048c;
  --red-a10: #6e000799;
  --red-a11: #670005a1;
  --red-a12: #430007dd;

  --red-contrast: #fff;
  --red-surface: #fff5f6cc;
  --red-indicator: #b67375;
  --red-track: #b67375;

  /* Violet */
  --violet-1: #fcfcfe;
  --violet-2: #faf8ff;
  --violet-3: #f3f1fe;
  --violet-4: #eae5ff;
  --violet-5: #e1d9ff;
  --violet-6: #d5cafa;
  --violet-7: #c3b6ee;
  --violet-8: #aa9ed4;
  --violet-9: #726698;
  --violet-10: #65598a;
  --violet-11: #695c8e;
  --violet-12: #342754;

  --violet-a1: #0000aa03;
  --violet-a2: #4900ff07;
  --violet-a3: #2500ed0e;
  --violet-a4: #3200ff1a;
  --violet-a5: #3600ff26;
  --violet-a6: #3500e735;
  --violet-a7: #2e00c449;
  --violet-a8: #20008e61;
  --violet-a9: #14005499;
  --violet-a10: #13004ca6;
  --violet-a11: #15004fa3;
  --violet-a12: #0f0035d8;

  --violet-contrast: #fff;
  --violet-surface: #f9f6ffcc;
  --violet-indicator: #726698;
  --violet-track: #726698;

  /* Yellow */
  --yellow-1: #fdfdfb;
  --yellow-2: #fefbe9;
  --yellow-3: #fff7c2;
  --yellow-4: #fcef9e;
  --yellow-5: #f3e695;
  --yellow-6: #e7da89;
  --yellow-7: #d5c978;
  --yellow-8: #bfb262;
  --yellow-9: #dfd281;
  --yellow-10: #d5c877;
  --yellow-11: #857825;
  --yellow-12: #413c1c;

  --yellow-a1: #80800004;
  --yellow-a2: #f4d10016;
  --yellow-a3: #ffde003d;
  --yellow-a4: #f8d50061;
  --yellow-a5: #e3c3016a;
  --yellow-a6: #ccb00076;
  --yellow-a7: #b0990087;
  --yellow-a8: #9782009d;
  --yellow-a9: #bfa4007e;
  --yellow-a10: #b1980088;
  --yellow-a11: #706100da;
  --yellow-a12: #2a2400e3;

  --yellow-contrast: #262209;
  --yellow-surface: #fefae4cc;
  --yellow-indicator: #dfd281;
  --yellow-track: #dfd281;

  /* Orange */
  --orange-1: #fdfcfb;
  --orange-2: #fef7ef;
  --orange-3: #feeedc;
  --orange-4: #ffdeb5;
  --orange-5: #ffd29b;
  --orange-6: #f6c78e;
  --orange-7: #e5b67c;
  --orange-8: #d7a15b;
  --orange-9: #cd8c2e;
  --orange-10: #c1801d;
  --orange-11: #ad6e00;
  --orange-12: #4d3516;

  --orange-a1: #80400004;
  --orange-a2: #f0800010;
  --orange-a3: #f8840023;
  --orange-a4: #ff8e014a;
  --orange-a5: #ff8d0064;
  --orange-a6: #eb810071;
  --orange-a7: #cd710083;
  --orange-a8: #c16d00a4;
  --orange-a9: #c27300d1;
  --orange-a10: #b97000e2;
  --orange-a11: #ad6e00;
  --orange-a12: #3c2200e9;

  --orange-contrast: #fff;
  --orange-surface: #fef5ebcc;
  --orange-indicator: #cd8c2e;
  --orange-track: #cd8c2e;

  /* Blue */
  --blue-1: #fbfdff;
  --blue-2: #f4faff;
  --blue-3: #e7f4fe;
  --blue-4: #d6eeff;
  --blue-5: #c2e5ff;
  --blue-6: #acd9fa;
  --blue-7: #93c8ee;
  --blue-8: #7cb0d5;
  --blue-9: #689bc0;
  --blue-10: #5d8fb3;
  --blue-11: #46799c;
  --blue-12: #003858;

  --blue-a1: #0080ff04;
  --blue-a2: #008cff0b;
  --blue-a3: #008bf518;
  --blue-a4: #0096ff29;
  --blue-a5: #0093ff3d;
  --blue-a6: #008bf053;
  --blue-a7: #007ed76c;
  --blue-a8: #0066ae83;
  --blue-a9: #00569597;
  --blue-a10: #004f88a2;
  --blue-a11: #004677b9;
  --blue-a12: #003858;

  --blue-contrast: #fff;
  --blue-surface: #f1f9ffcc;
  --blue-indicator: #689bc0;
  --blue-track: #689bc0;

  /* Gray */
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #efefef;
  --gray-4: #e8e8e8;
  --gray-5: #e0e0e0;
  --gray-6: #d8d8d8;
  --gray-7: #cecece;
  --gray-8: #bbb;
  --gray-9: #8d8d8d;
  --gray-10: #838383;
  --gray-11: #646464;
  --gray-12: #202020;

  --gray-a1: #00000003;
  --gray-a2: #00000006;
  --gray-a3: #00000010;
  --gray-a4: #00000017;
  --gray-a5: #0000001f;
  --gray-a6: #00000027;
  --gray-a7: #00000031;
  --gray-a8: #00000044;
  --gray-a9: #00000072;
  --gray-a10: #0000007c;
  --gray-a11: #0000009b;
  --gray-a12: #000000df;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8d8d8d;
  --gray-track: #8d8d8d;

  /* Green */
  --green-1: #f8fffa;
  --green-2: #f1fdf4;
  --green-3: #dbfce4;
  --green-4: #c3f8d4;
  --green-5: #a9f2c1;
  --green-6: #89e8ab;
  --green-7: #62d991;
  --green-8: #45bf79;
  --green-9: #53cb84;
  --green-10: #46bf79;
  --green-11: #00803f;
  --green-12: #004421;

  --green-a1: #00ff4907;
  --green-a2: #00db370e;
  --green-a3: #00ea4024;
  --green-a4: #00e2493c;
  --green-a5: #00d94856;
  --green-a6: #00ce4a76;
  --green-a7: #00c24d9d;
  --green-a8: #00a747ba;
  --green-a9: #00b249ac;
  --green-a10: #00a746b9;
  --green-a11: #00803f;
  --green-a12: #004421;

  --green-contrast: #102719;
  --green-surface: #eefdf1cc;
  --green-indicator: #53cb84;
  --green-track: #53cb84;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {

    /* Red */
    :root .dark,
    :root .dark-theme,
    :root:is(.dark, .dark-theme) {
      --red-1: oklch(17.8% 0.013 15.53);
      --red-2: oklch(20.3% 0.022 15.53);
      --red-3: oklch(25% 0.064 15.53);
      --red-4: oklch(28.8% 0.096 15.53);
      --red-5: oklch(33.1% 0.107 15.53);
      --red-6: oklch(38.2% 0.111 15.53);
      --red-7: oklch(45% 0.121 15.53);
      --red-8: oklch(54.4% 0.147 15.53);
      --red-9: oklch(62.5% 0.16 15.53);
      --red-10: oklch(58.4% 0.147 15.53);
      --red-11: oklch(78.4% 0.16 15.53);
      --red-12: oklch(90.2% 0.053 15.53);

      --red-a1: color(display-p3 0.961 0 0 / 0.022);
      --red-a2: color(display-p3 0.996 0.282 0.212 / 0.055);
      --red-a3: color(display-p3 1 0.169 0.243 / 0.156);
      --red-a4: color(display-p3 1 0.118 0.235 / 0.236);
      --red-a5: color(display-p3 1 0.212 0.314 / 0.303);
      --red-a6: color(display-p3 1 0.322 0.396 / 0.37);
      --red-a7: color(display-p3 1 0.4 0.463 / 0.475);
      --red-a8: color(display-p3 1 0.427 0.49 / 0.635);
      --red-a9: color(display-p3 1 0.467 0.518 / 0.765);
      --red-a10: color(display-p3 1 0.467 0.518 / 0.69);
      --red-a11: color(display-p3 1 0.608 0.639 / 0.937);
      --red-a12: color(display-p3 1 0.851 0.855 / 0.971);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.165 0.078 0.086 / 0.5);
      --red-indicator: oklch(62.5% 0.16 15.53);
      --red-track: oklch(62.5% 0.16 15.53);
      /* Violet */
      --violet-1: oklch(17.8% 0.026 291.3);
      --violet-2: oklch(20.9% 0.032 291.3);
      --violet-3: oklch(27% 0.067 291.3);
      --violet-4: oklch(31.2% 0.093 291.3);
      --violet-5: oklch(34.8% 0.099 291.3);
      --violet-6: oklch(39% 0.103 291.3);
      --violet-7: oklch(44.5% 0.112 291.3);
      --violet-8: oklch(51.6% 0.131 291.3);
      --violet-9: oklch(54.2% 0.149 291.3);
      --violet-10: oklch(49.5% 0.131 291.3);
      --violet-11: oklch(77.8% 0.137 291.3);
      --violet-12: oklch(91.2% 0.045 291.3);

      --violet-a1: color(display-p3 0.071 0 0.98 / 0.043);
      --violet-a2: color(display-p3 0.361 0.263 1 / 0.08);
      --violet-a3: color(display-p3 0.467 0.333 1 / 0.206);
      --violet-a4: color(display-p3 0.475 0.345 1 / 0.299);
      --violet-a5: color(display-p3 0.525 0.4 1 / 0.353);
      --violet-a6: color(display-p3 0.553 0.451 1 / 0.412);
      --violet-a7: color(display-p3 0.58 0.486 0.996 / 0.5);
      --violet-a8: color(display-p3 0.604 0.51 1 / 0.631);
      --violet-a9: color(display-p3 0.592 0.49 1 / 0.698);
      --violet-a10: color(display-p3 0.588 0.49 1 / 0.601);
      --violet-a11: color(display-p3 0.729 0.671 1 / 0.975);
      --violet-a12: color(display-p3 0.894 0.882 1 / 0.984);

      --violet-contrast: #fff;
      --violet-surface: color(display-p3 0.118 0.094 0.212 / 0.5);
      --violet-indicator: oklch(54.2% 0.149 291.3);
      --violet-track: oklch(54.2% 0.149 291.3);

      /* Yellow */
      --yellow-1: oklch(17.8% 0.011 72.9);
      --yellow-2: oklch(21% 0.016 72.9);
      --yellow-3: oklch(25.7% 0.039 72.9);
      --yellow-4: oklch(29.6% 0.063 72.9);
      --yellow-5: oklch(33.7% 0.072 72.9);
      --yellow-6: oklch(38.7% 0.069 72.9);
      --yellow-7: oklch(45.3% 0.073 72.9);
      --yellow-8: oklch(53.6% 0.086 72.9);
      --yellow-9: oklch(84.2% 0.108 72.9);
      --yellow-10: oklch(81% 0.108 72.9);
      --yellow-11: oklch(86.4% 0.108 72.9);
      --yellow-12: oklch(93.4% 0.061 72.9);

      --yellow-a1: color(display-p3 0.941 0 0 / 0.009);
      --yellow-a2: color(display-p3 0.988 0.569 0.067 / 0.047);
      --yellow-a3: color(display-p3 1 0.6 0.035 / 0.118);
      --yellow-a4: color(display-p3 1 0.569 0 / 0.181);
      --yellow-a5: color(display-p3 1 0.6 0 / 0.236);
      --yellow-a6: color(display-p3 1 0.678 0.216 / 0.295);
      --yellow-a7: color(display-p3 1 0.725 0.337 / 0.374);
      --yellow-a8: color(display-p3 1 0.753 0.384 / 0.492);
      --yellow-a9: color(display-p3 1 0.816 0.553 / 0.929);
      --yellow-a10: color(display-p3 1 0.808 0.533 / 0.883);
      --yellow-a11: color(display-p3 1 0.82 0.565 / 0.958);
      --yellow-a12: color(display-p3 1 0.918 0.776 / 0.979);

      --yellow-contrast: #2d1e0a;
      --yellow-surface: color(display-p3 0.149 0.11 0.063 / 0.5);
      --yellow-indicator: oklch(84.2% 0.108 72.9);
      --yellow-track: oklch(84.2% 0.108 72.9);

      /* Orange */
      --orange-1: oklch(17.8% 0.011 54.38);
      --orange-2: oklch(20.7% 0.018 54.38);
      --orange-3: oklch(25.7% 0.043 54.38);
      --orange-4: oklch(29.3% 0.076 54.38);
      --orange-5: oklch(33.4% 0.083 54.38);
      --orange-6: oklch(38.6% 0.083 54.38);
      --orange-7: oklch(45.3% 0.091 54.38);
      --orange-8: oklch(54% 0.111 54.38);
      --orange-9: oklch(68.9% 0.125 54.38);
      --orange-10: oklch(65.1% 0.125 54.38);
      --orange-11: oklch(79.9% 0.125 54.38);
      --orange-12: oklch(92.5% 0.05 54.38);

      --orange-a1: color(display-p3 0.973 0 0 / 0.013);
      --orange-a2: color(display-p3 0.992 0.455 0.071 / 0.051);
      --orange-a3: color(display-p3 0.996 0.459 0.067 / 0.131);
      --orange-a4: color(display-p3 0.996 0.365 0 / 0.211);
      --orange-a5: color(display-p3 1 0.439 0 / 0.265);
      --orange-a6: color(display-p3 1 0.533 0.165 / 0.328);
      --orange-a7: color(display-p3 1 0.6 0.275 / 0.421);
      --orange-a8: color(display-p3 1 0.604 0.298 / 0.564);
      --orange-a9: color(display-p3 1 0.663 0.408 / 0.782);
      --orange-a10: color(display-p3 1 0.643 0.369 / 0.727);
      --orange-a11: color(display-p3 1 0.71 0.49 / 0.937);
      --orange-a12: color(display-p3 1 0.894 0.808 / 0.979);

      --orange-contrast: #fff;
      --orange-surface: color(display-p3 0.157 0.102 0.063 / 0.5);
      --orange-indicator: oklch(68.9% 0.125 54.38);
      --orange-track: oklch(68.9% 0.125 54.38);

      /* Blue */
      --blue-1: oklch(17.8% 0.025 250.7);
      --blue-2: oklch(21.1% 0.029 250.7);
      --blue-3: oklch(27.3% 0.066 250.7);
      --blue-4: oklch(31.7% 0.098 250.7);
      --blue-5: oklch(36.5% 0.106 250.7);
      --blue-6: oklch(41.6% 0.11 250.7);
      --blue-7: oklch(47.5% 0.119 250.7);
      --blue-8: oklch(54.2% 0.137 250.7);
      --blue-9: oklch(65.9% 0.159 250.7);
      --blue-10: oklch(62% 0.159 250.7);
      --blue-11: oklch(76.9% 0.131 250.7);
      --blue-12: oklch(90.8% 0.05 250.7);

      --blue-a1: color(display-p3 0 0.161 0.98 / 0.043);
      --blue-a2: color(display-p3 0.02 0.459 1 / 0.08);
      --blue-a3: color(display-p3 0.086 0.471 1 / 0.215);
      --blue-a4: color(display-p3 0.071 0.455 1 / 0.324);
      --blue-a5: color(display-p3 0.129 0.514 1 / 0.395);
      --blue-a6: color(display-p3 0.227 0.569 1 / 0.471);
      --blue-a7: color(display-p3 0.282 0.596 1 / 0.564);
      --blue-a8: color(display-p3 0.306 0.608 1 / 0.69);
      --blue-a9: color(display-p3 0.349 0.627 0.996 / 0.904);
      --blue-a10: color(display-p3 0.31 0.612 1 / 0.845);
      --blue-a11: color(display-p3 0.518 0.737 1 / 0.975);
      --blue-a12: color(display-p3 0.82 0.902 1 / 0.988);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.063 0.125 0.212 / 0.5);
      --blue-indicator: oklch(65.9% 0.159 250.7);
      --blue-track: oklch(65.9% 0.159 250.7);

      /* Gray */
      --gray-1: oklch(17.8% 0 0);
      --gray-2: oklch(21.3% 0 0);
      --gray-3: oklch(25.4% 0 0);
      --gray-4: oklch(28.3% 0 0);
      --gray-5: oklch(31.3% 0 0);
      --gray-6: oklch(34.9% 0 0);
      --gray-7: oklch(40.2% 0 0);
      --gray-8: oklch(48.8% 0 0);
      --gray-9: oklch(53.8% 0 0);
      --gray-10: oklch(58.4% 0 0);
      --gray-11: oklch(77% 0 0);
      --gray-12: oklch(94.9% 0 0);

      --gray-a1: color(display-p3 0 0 0 / 0);
      --gray-a2: color(display-p3 1 1 1 / 0.034);
      --gray-a3: color(display-p3 1 1 1 / 0.071);
      --gray-a4: color(display-p3 1 1 1 / 0.105);
      --gray-a5: color(display-p3 1 1 1 / 0.134);
      --gray-a6: color(display-p3 1 1 1 / 0.172);
      --gray-a7: color(display-p3 1 1 1 / 0.231);
      --gray-a8: color(display-p3 1 1 1 / 0.332);
      --gray-a9: color(display-p3 1 1 1 / 0.391);
      --gray-a10: color(display-p3 1 1 1 / 0.445);
      --gray-a11: color(display-p3 1 1 1 / 0.685);
      --gray-a12: color(display-p3 1 1 1 / 0.929);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.8% 0 0);
      --gray-track: oklch(53.8% 0 0);

      /* Green */
      --green-1: oklch(0% 0.017 154.4);
      --green-2: oklch(18.1% 0.021 154.4);
      --green-3: oklch(25.6% 0.05 154.4);
      --green-4: oklch(31% 0.074 154.4);
      --green-5: oklch(36.1% 0.085 154.4);
      --green-6: oklch(41.1% 0.095 154.4);
      --green-7: oklch(46.6% 0.108 154.4);
      --green-8: oklch(52.7% 0.125 154.4);
      --green-9: oklch(36.5% 0.085 154.4);
      --green-10: oklch(42.9% 0.095 154.4);
      --green-11: oklch(78% 0.125 154.4);
      --green-12: oklch(90.5% 0.107 154.4);

      --green-a1: color(display-p3 0 0 0 / 0);
      --green-a2: color(display-p3 0.569 0.996 0.71 / 0.083);
      --green-a3: color(display-p3 0.49 1 0.635 / 0.161);
      --green-a4: color(display-p3 0.396 1 0.569 / 0.228);
      --green-a5: color(display-p3 0.439 1 0.588 / 0.287);
      --green-a6: color(display-p3 0.467 1 0.616 / 0.346);
      --green-a7: color(display-p3 0.478 1 0.62 / 0.412);
      --green-a8: color(display-p3 0.475 1 0.616 / 0.491);
      --green-a9: color(display-p3 0.447 1 0.596 / 0.291);
      --green-a10: color(display-p3 0.498 1 0.635 / 0.365);
      --green-a11: color(display-p3 0.663 1 0.741 / 0.804);
      --green-a12: color(display-p3 0.753 1 0.808 / 0.953);

      --green-contrast: #fff;
      --green-surface: color(display-p3 0.094 0.157 0.11 / 0.5);
      --green-indicator: oklch(36.5% 0.085 154.4);
      --green-track: oklch(36.5% 0.085 154.4);
    }

    :root .light,
    :root .light-theme,
    :root:is(.light, .light-theme) {
      /* Red */
      --red-1: oklch(99.4% 0.003 16.93);
      --red-2: oklch(98.3% 0.008 16.93);
      --red-3: oklch(95.6% 0.02 16.93);
      --red-4: oklch(92.8% 0.043 16.93);
      --red-5: oklch(89.6% 0.057 16.93);
      --red-6: oklch(85.7% 0.068 16.93);
      --red-7: oklch(80.8% 0.082 16.93);
      --red-8: oklch(74.6% 0.085 16.93);
      --red-9: oklch(62.6% 0.085 16.93);
      --red-10: oklch(58.5% 0.085 16.93);
      --red-11: oklch(55.5% 0.085 16.93);
      --red-12: oklch(34% 0.085 16.93);

      --red-a1: color(display-p3 0.675 0.024 0.024 / 0.012);
      --red-a2: color(display-p3 0.878 0.02 0.145 / 0.032);
      --red-a3: color(display-p3 0.804 0.059 0.008 / 0.079);
      --red-a4: color(display-p3 0.827 0.008 0.035 / 0.134);
      --red-a5: color(display-p3 0.831 0.004 0.004 / 0.185);
      --red-a6: color(display-p3 0.776 0.004 0.004 / 0.244);
      --red-a7: color(display-p3 0.706 0.004 0.004 / 0.318);
      --red-a8: color(display-p3 0.565 0.004 0.004 / 0.397);
      --red-a9: color(display-p3 0.396 0 0 / 0.538);
      --red-a10: color(display-p3 0.361 0 0.016 / 0.589);
      --red-a11: color(display-p3 0.337 0 0.008 / 0.62);
      --red-a12: color(display-p3 0.216 0 0.016 / 0.851);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.996 0.965 0.965 / 0.8);
      --red-indicator: oklch(62.6% 0.085 16.93);
      --red-track: oklch(62.6% 0.085 16.93);

      /* Violet */
      --violet-1: oklch(99.2% 0.003 295);
      --violet-2: oklch(98.3% 0.008 295);
      --violet-3: oklch(96.3% 0.017 295);
      --violet-4: oklch(93.4% 0.036 295);
      --violet-5: oklch(90.4% 0.052 295);
      --violet-6: oklch(86.4% 0.067 295);
      --violet-7: oklch(80.7% 0.078 295);
      --violet-8: oklch(72.9% 0.078 295);
      --violet-9: oklch(54.2% 0.078 295);
      --violet-10: oklch(49.5% 0.078 295);
      --violet-11: oklch(50.8% 0.078 295);
      --violet-12: oklch(31.3% 0.078 295);

      --violet-a1: color(display-p3 0.024 0.024 0.675 / 0.012);
      --violet-a2: color(display-p3 0.302 0.024 0.863 / 0.028);
      --violet-a3: color(display-p3 0.145 0.004 0.859 / 0.055);
      --violet-a4: color(display-p3 0.157 0.004 0.925 / 0.102);
      --violet-a5: color(display-p3 0.192 0.008 0.922 / 0.15);
      --violet-a6: color(display-p3 0.173 0.004 0.831 / 0.208);
      --violet-a7: color(display-p3 0.153 0.004 0.714 / 0.287);
      --violet-a8: color(display-p3 0.106 0.004 0.518 / 0.381);
      --violet-a9: color(display-p3 0.067 0 0.31 / 0.6);
      --violet-a10: color(display-p3 0.063 0 0.278 / 0.651);
      --violet-a11: color(display-p3 0.067 0 0.29 / 0.64);
      --violet-a12: color(display-p3 0.047 0 0.192 / 0.844);

      --violet-contrast: #fff;
      --violet-surface: color(display-p3 0.973 0.965 0.996 / 0.8);
      --violet-indicator: oklch(54.2% 0.078 295);
      --violet-track: oklch(54.2% 0.078 295);

      /* Yellow */
      --yellow-1: oklch(99.4% 0.003 100.4);
      --yellow-2: oklch(98.6% 0.024 100.4);
      --yellow-3: oklch(96.9% 0.068 100.4);
      --yellow-4: oklch(94.5% 0.103 100.4);
      --yellow-5: oklch(91.8% 0.103 100.4);
      --yellow-6: oklch(88.1% 0.103 100.4);
      --yellow-7: oklch(82.7% 0.103 100.4);
      --yellow-8: oklch(75.8% 0.103 100.4);
      --yellow-9: oklch(85.6% 0.103 100.4);
      --yellow-10: oklch(82.5% 0.103 100.4);
      --yellow-11: oklch(56.9% 0.103 100.4);
      --yellow-12: oklch(35.2% 0.048 100.4);

      --yellow-a1: color(display-p3 0.514 0.514 0.024 / 0.016);
      --yellow-a2: color(display-p3 0.902 0.804 0.008 / 0.079);
      --yellow-a3: color(display-p3 0.984 0.855 0.004 / 0.216);
      --yellow-a4: color(display-p3 0.945 0.82 0.004 / 0.342);
      --yellow-a5: color(display-p3 0.855 0.741 0.004 / 0.377);
      --yellow-a6: color(display-p3 0.761 0.659 0.004 / 0.424);
      --yellow-a7: color(display-p3 0.647 0.569 0.004 / 0.491);
      --yellow-a8: color(display-p3 0.549 0.475 0 / 0.573);
      --yellow-a9: color(display-p3 0.71 0.616 0.004 / 0.455);
      --yellow-a10: color(display-p3 0.651 0.565 0.004 / 0.495);
      --yellow-a11: color(display-p3 0.388 0.333 0 / 0.797);
      --yellow-a12: color(display-p3 0.145 0.125 0 / 0.875);

      --yellow-contrast: #262209;
      --yellow-surface: color(display-p3 0.992 0.98 0.902 / 0.8);
      --yellow-indicator: oklch(85.6% 0.103 100.4);
      --yellow-track: oklch(85.6% 0.103 100.4);

      /* Orange */
      --orange-1: oklch(99.2% 0.002 71.31);
      --orange-2: oklch(97.9% 0.013 71.31);
      --orange-3: oklch(95.8% 0.03 71.31);
      --orange-4: oklch(92% 0.067 71.31);
      --orange-5: oklch(89% 0.088 71.31);
      --orange-6: oklch(85.7% 0.09 71.31);
      --orange-7: oklch(80.5% 0.092 71.31);
      --orange-8: oklch(74.5% 0.108 71.31);
      --orange-9: oklch(68.9% 0.131 71.31);
      --orange-10: oklch(65.1% 0.131 71.31);
      --orange-11: oklch(59.2% 0.131 71.31);
      --orange-12: oklch(35% 0.056 71.31);

      --orange-a1: color(display-p3 0.514 0.267 0.024 / 0.016);
      --orange-a2: color(display-p3 0.871 0.471 0.004 / 0.059);
      --orange-a3: color(display-p3 0.882 0.518 0.008 / 0.13);
      --orange-a4: color(display-p3 0.929 0.537 0.004 / 0.271);
      --orange-a5: color(display-p3 0.925 0.541 0.004 / 0.365);
      --orange-a6: color(display-p3 0.851 0.486 0.004 / 0.412);
      --orange-a7: color(display-p3 0.733 0.424 0.004 / 0.483);
      --orange-a8: color(display-p3 0.686 0.4 0 / 0.6);
      --orange-a9: color(display-p3 0.682 0.408 0 / 0.742);
      --orange-a10: color(display-p3 0.647 0.384 0 / 0.793);
      --orange-a11: color(display-p3 0.584 0.349 0 / 0.855);
      --orange-a12: color(display-p3 0.2 0.118 0 / 0.895);

      --orange-contrast: #fff;
      --orange-surface: color(display-p3 0.992 0.961 0.925 / 0.8);
      --orange-indicator: oklch(68.9% 0.131 71.31);
      --orange-track: oklch(68.9% 0.131 71.31);

      /* Blue */
      --blue-1: oklch(99.3% 0.003 240.3);
      --blue-2: oklch(98.1% 0.009 240.3);
      --blue-3: oklch(96% 0.02 240.3);
      --blue-4: oklch(93.7% 0.036 240.3);
      --blue-5: oklch(90.6% 0.051 240.3);
      --blue-6: oklch(86.4% 0.066 240.3);
      --blue-7: oklch(80.9% 0.077 240.3);
      --blue-8: oklch(73.4% 0.077 240.3);
      --blue-9: oklch(66.9% 0.077 240.3);
      --blue-10: oklch(63% 0.077 240.3);
      --blue-11: oklch(55.5% 0.077 240.3);
      --blue-12: oklch(32.6% 0.077 240.3);

      --blue-a1: color(display-p3 0.024 0.514 1 / 0.016);
      --blue-a2: color(display-p3 0.024 0.514 0.906 / 0.04);
      --blue-a3: color(display-p3 0.012 0.506 0.914 / 0.087);
      --blue-a4: color(display-p3 0.008 0.506 0.945 / 0.142);
      --blue-a5: color(display-p3 0.004 0.502 0.945 / 0.212);
      --blue-a6: color(display-p3 0.004 0.475 0.894 / 0.291);
      --blue-a7: color(display-p3 0.004 0.424 0.784 / 0.381);
      --blue-a8: color(display-p3 0.004 0.333 0.62 / 0.471);
      --blue-a9: color(display-p3 0 0.278 0.529 / 0.55);
      --blue-a10: color(display-p3 0 0.251 0.478 / 0.593);
      --blue-a11: color(display-p3 0 0.22 0.412 / 0.679);
      --blue-a12: color(display-p3 0 0.149 0.278 / 0.922);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.953 0.976 0.996 / 0.8);
      --blue-indicator: oklch(66.9% 0.077 240.3);
      --blue-track: oklch(66.9% 0.077 240.3);

      /* Gray */
      --gray-1: oklch(99.1% 0 0);
      --gray-2: oklch(98.1% 0 0);
      --gray-3: oklch(95.3% 0 0);
      --gray-4: oklch(93% 0 0);
      --gray-5: oklch(90.8% 0 0);
      --gray-6: oklch(88.4% 0 0);
      --gray-7: oklch(85.1% 0 0);
      --gray-8: oklch(79.1% 0 0);
      --gray-9: oklch(64.3% 0 0);
      --gray-10: oklch(60.9% 0 0);
      --gray-11: oklch(50.3% 0 0);
      --gray-12: oklch(24.3% 0 0);

      --gray-a1: color(display-p3 0 0 0 / 0.012);
      --gray-a2: color(display-p3 0 0 0 / 0.024);
      --gray-a3: color(display-p3 0 0 0 / 0.063);
      --gray-a4: color(display-p3 0 0 0 / 0.09);
      --gray-a5: color(display-p3 0 0 0 / 0.122);
      --gray-a6: color(display-p3 0 0 0 / 0.153);
      --gray-a7: color(display-p3 0 0 0 / 0.192);
      --gray-a8: color(display-p3 0 0 0 / 0.267);
      --gray-a9: color(display-p3 0 0 0 / 0.447);
      --gray-a10: color(display-p3 0 0 0 / 0.486);
      --gray-a11: color(display-p3 0 0 0 / 0.608);
      --gray-a12: color(display-p3 0 0 0 / 0.875);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.3% 0 0);
      --gray-track: oklch(64.3% 0 0);

      /* Green */
      --green-1: oklch(99.3% 0.009 154.6);
      --green-2: oklch(98.2% 0.017 154.6);
      --green-3: oklch(96% 0.046 154.6);
      --green-4: oklch(93.4% 0.073 154.6);
      --green-5: oklch(90% 0.099 154.6);
      --green-6: oklch(85.7% 0.125 154.6);
      --green-7: oklch(79.8% 0.149 154.6);
      --green-8: oklch(71.9% 0.149 154.6);
      --green-9: oklch(75.5% 0.149 154.6);
      --green-10: oklch(72% 0.149 154.6);
      --green-11: oklch(51.9% 0.149 154.6);
      --green-12: oklch(33.8% 0.09 154.6);

      --green-a1: color(display-p3 0.024 1 0.184 / 0.024);
      --green-a2: color(display-p3 0.024 0.839 0.184 / 0.048);
      --green-a3: color(display-p3 0.004 0.871 0.173 / 0.118);
      --green-a4: color(display-p3 0.008 0.82 0.188 / 0.193);
      --green-a5: color(display-p3 0.004 0.788 0.176 / 0.275);
      --green-a6: color(display-p3 0.004 0.741 0.18 / 0.377);
      --green-a7: color(display-p3 0.004 0.675 0.169 / 0.491);
      --green-a8: color(display-p3 0 0.553 0.149 / 0.589);
      --green-a9: color(display-p3 0 0.604 0.153 / 0.542);
      --green-a10: color(display-p3 0 0.553 0.141 / 0.585);
      --green-a11: color(display-p3 0 0.357 0.075 / 0.785);
      --green-a12: color(display-p3 0 0.18 0.043 / 0.899);

      --green-contrast: #102719;
      --green-surface: color(display-p3 0.941 0.984 0.953 / 0.8);
      --green-indicator: oklch(75.5% 0.149 154.6);
      --green-track: oklch(75.5% 0.149 154.6);
    }
  }
}