:root,
.radix-themes {
  --space-1: calc(4px * var(--scaling));
  --space-2: calc(8px * var(--scaling));
  --space-3: calc(12px * var(--scaling));
  --space-4: calc(16px * var(--scaling));
  --space-5: calc(24px * var(--scaling));
  --space-6: calc(32px * var(--scaling));
  --space-7: calc(40px * var(--scaling));
  --space-8: calc(48px * var(--scaling));
  --space-9: calc(64px * var(--scaling));
  --space-11: calc(96px * var(--scaling));
  --space-12: calc(128px * var(--scaling));
  --space-13: calc(160px * var(--scaling));
  --space-14: calc(192px * var(--scaling));
  --space-15: calc(224px * var(--scaling));
  --space-16: calc(256px * var(--scaling));
  --space-17: calc(320px * var(--scaling));
  --space-18: calc(384px * var(--scaling));
}

:root,
.radix-themes {
  --font-sans: 'Inter Variable', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  --default-font-size: var(--font-size-3);
  --default-font-family: var(--font-sans);
}

:root,
[data-accent-color] {
  /* general colors */
  --color-transparent: transparent;
  --color-accent: var(--accent-9);
  --color-border: var(--gray-6);
  --color-border-hover: var(--gray-8);

  /* text colors */
  --color-color: var(--gray-11);
  --color-secondary: var(--gray-10);
  --color-muted: var(--gray-9);
  --color-heading: var(--inverse);
  --color-icon: var(--gray-9);
  --color-link: var(--color-brand);

  /* card colors */
  --color-card-bg: var(--gray-a2);
  --color-card-title: var(--gray-1);
  --color-card-border: var(--gray-a6);
}

.dark [data-accent-color],
.dark-theme [data-accent-color] {
  --inverse: white;
  --color-brand: #00e182;
}

.light [data-accent-color],
.light-theme [data-accent-color] {
  --inverse: black;
  --color-brand: var(--grass-9);
}

.dark [data-accent-color='grass'],
.dark-theme [data-accent-color='grass'] {
  --accent-9-contrast: black;
  --accent-9: var(--color-brand);
  --accent-10: #00cd75;
}

.dark body,
.dark-theme body {
  --color-page-background: #0e0e0e;
  background: var(--color-page-background) !important;
}
