
.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.pagination li {
  margin: 0 8px; /* Adjusts space between the pagination items */
}

.pagination li a {
  padding: 8px 16px; /* Adjusts padding inside each pagination item */
  color: var(--white-2);
  background-color: var(--gray-2);
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
}

.pagination li.selected a {
  background-color: var(--gray-7); /* Slightly lighter background */
  font-weight: bold;
}

.pagination li a:hover {
  background-color: var(--gray-5);
}

/* Remove background color for Previous and Next buttons */
.pagination li.previous a,
.pagination li.next a {
  background-color: transparent;
  padding: 0;
}

.pagination li.disabled a {
  color: #888; /* Disabled color for previous/next buttons */
  cursor: not-allowed;
}

.pagination li.disabled a:hover {
  background-color: transparent; /* Keeps background same on hover */
}

