:root {
  --font-inter: "Inter", system-ui, "Segoe UI", "Roboto", "Helvetica", "Arial",
    sans-serif;
  --font-geist-mono: "Geist Mono", "Courier New", monospace;
}

body {
  font-family: var(--font-inter);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-geist-mono {
  font-family: var(--font-geist-mono);
}
