name: Tests

on:
  pull_request:
    branches: [main, master, release]
    types: [opened, synchronize, reopened]
  push:
    branches:
      - release

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tests-e2e:
    name: E2E Tests
    runs-on: buildjet-4vcpu-ubuntu-2204
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create .env file graphql
        run: cp packages/graphql/.env.example packages/graphql/.env

      - name: Create .env file explorer
        run: cp packages/app-explorer/.env.example packages/app-explorer/.env

      - name: Setup Node
        uses: FuelLabs/github-actions/setups/node@master
        with:
          node-version: 20.15.1
          pnpm-version: 9.5.0

      - name: Setup Docker
        uses: FuelLabs/github-actions/setups/docker@master
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start Test Node
        run: pnpm node:start

      # E2E tests running with Playwright
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps chromium

      - name: Run E2E Tests
        run: xvfb-run --auto-servernum -- pnpm test:e2e

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: packages/e2e-tests/playwright-report/hard/
          retention-days: 30

      - name: Stop Test Node
        run: pnpm node:stop
  tests-e2e-soft:
    name: E2E Tests Soft
    runs-on: buildjet-4vcpu-ubuntu-2204
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create .env file graphql
        run: cp packages/graphql/.env.example packages/graphql/.env

      - name: Create .env file explorer
        run: cp packages/app-explorer/.env.example packages/app-explorer/.env

      - name: Setup Node
        uses: FuelLabs/github-actions/setups/node@master
        with:
          node-version: 20.15.1
          pnpm-version: 9.5.0

      - name: Setup Docker
        uses: FuelLabs/github-actions/setups/docker@master
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start Test Node
        run: pnpm node:start

      # E2E tests running with Playwright
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps chromium

      - name: Run E2E Tests
        run: xvfb-run --auto-servernum -- pnpm test:e2e-soft

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: packages/e2e-tests/playwright-report/soft/
          retention-days: 30

      - name: Stop Test Node
        run: pnpm node:stop
