name: "PR Checks"

on:
  pull_request:
    types: [opened, synchronize, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  COVERAGE_FILE: report.json
  NEXT_PUBLIC_FUEL_CHAIN_NAME: fuelBeta5 # For Next.JS apps
  FUEL_PROVIDER: https://beta-5.fuel.network/graphql # For GraphQL apps

jobs:
  validate-title:
    name: Validate PR Title
    if: ${{ github.head_ref != 'changeset-release/master' }}
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  audit:
    name: Audit
    if: ${{ github.head_ref != 'changeset-release/master' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: FuelLabs/github-actions/setups/node@master
        with:
          node-version: 18.19.0

      - name: Run Audit
        # temporally avoid low severity vulnerabilities
        run: pnpm audit --prod --audit-level high

  lint-and-test:
    name: Lint
    if: ${{ github.head_ref != 'changeset-release/master' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: FuelLabs/github-actions/setups/node@master
        with:
          node-version: 18.19.0

      - name: Run lint & ts:check
        run: |
          pnpm lint:ci
          pnpm ts:check
